.app {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.app h1 {
  font-weight: bold;
}
.app input, .app output {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-weight: bold;
}
.app .btn {
  font-size: 150%;
  padding: 0.35rem 1rem;
}